<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Genesyslab.Desktop.Modules.InteractionExtensionCrossnet.Properties.Settings.PRUEBAConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=PRUEBA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Genesyslab.Desktop.Modules.InteractionExtensionCrossnet.Properties.Settings.CN_WORKSPACE_MAINConnectionString"
            connectionString="Data Source=10.14.0.200;Initial Catalog=CN_WORKSPACE_MAIN;Persist Security Info=True;User ID=webapiwde;Password=webapiwde2019"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647" recursionLimit="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>
<system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EnviarNombreSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://14.10.0.15:9108/EnviarNombre.asmx"
                binding="basicHttpBinding" bindingConfiguration="EnviarNombreSoap"
                contract="WS_nombre.EnviarNombreSoap" name="EnviarNombreSoap" />
        </client>
    </system.serviceModel>
</configuration>